<nav>
    <div class="left">LOGO</div>
    <div class="right">
        <button (click)="this.cartState.openPanel()">
            <app-cart-icon />
        </button>
        <button>
            <app-profile-icon />
        </button>
        <button (click)="openSidePanel()">
            <app-hamburger-icon />
        </button>
    </div>
</nav>

<app-side-panel title="Navigation" [class.open]="sidePanelOpen" (closepanel)="closeSidePanel()"> Bar </app-side-panel>

<app-side-panel title="Cart" [class.open]="this.cartState.panelOpen()" (closepanel)="this.cartState.closePanel()">
    @for (item of this.cartState.contents(); track item.product.id) {
        <span>{{ item.product.title }}</span>
    }
</app-side-panel>
